#######################################
# General configuration options
#######################################
general:
  debug: true

  # Enable P2P Mode on search images
  # used for the container creation.
  # p2pmode: false

  # Skip the check of the local LXD remote on P2P Mode.
  # This option is used only when P2P mode is enabled.
  # lxd_local_disable: false

  # Override LXD_CONF directory where
  # lxd-compose reads LXD remotes and certificates.
  # lxd_confdir: /dir

#######################################
# Logging configuration options
#######################################
logging:
  # Define the path of the logfile.
  # path: "./logs/lxd-compose.log"

  # Enable/Disable file logging.
  # enable_logfile: false

  # Enable JSON for logging in file
  # json_format: false

  # Set the log level.
  # level: "info"

  # Enable/Disable emoji
  # enable_emoji: true

  # Enable/Disable color in logging
  # color: true

  # Enable/Disable commands output logging in realtime.
  # runtime_cmds_output: true

  # Enable/Disable commands output logging at the end of the commands execution.
  # If runtime_cmds_output is a true the output is not repeat.
  # Enable this to see output of the hooks with out2var or err2var.
  # cmds_output: true

  # Enable/Disable Progress bar for synced files.
  # push_progressbar: false

#######################################
# Render engine configuration options
#######################################

# Define the default YAML file used by the Render engine to
# elaborate the specifications.
#render_default_file: ""

# Define the values YAML file used by the Render engine to
# elaborate the specifications. The variables defined on both
# default and values files are overridden by values file.
# Normally the render values file is pass from cli.
#render_values_file: ""

#######################################
# Environments configuration options
#######################################
# Define the directories list where load
# environments.
# env_dirs:
# - ./lxd-compose/envs
